# Variables sensibles
.env

# Caché de Python
__pycache__/
*.pyc

# Archivos temporales de audio
*.wav

# Entornos virtuales
venv/
.venv/

# Configuración del editor
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/

# Archivos del sistema
.DS_Store
Thumbs.db